* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #2efad9;
    --dark_blue: #051729;
    --medium_blue: #1c8d84;
    --white: #ffffff; 
}

header {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px; 
    text-align: left;
}

header img {
    margin-left: 1em;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat';
    margin: 0;
    background-image: url(bg_energia.jpg);
    background-size: cover;
    overflow-x: hidden;
}

body h1 {
    color: var(--white);
    font-weight: 400;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container_login {
    justify-content: center;
    text-align: center;
    display: block;
    margin: 5em;
    width: 60em;
    height: 35em;
    background-color: rgb(28, 44, 60, 0.6);
    border-radius: 1em;
    
}

.box_login {
    margin: 5em;
}



.box {
    border-style:groove;
    margin: 1em;
    border-color: var(--white);
    border-radius: 0.5em;
    border-width: 1px;
    background-color: transparent;
    width: 20em;
    height: 3em;
    padding: 0.5em;
}

.box:focus {
   outline: none;
}

.box_botao {
    text-align: center;
}

input[type="text"] {
    color: var(--white);
    font-weight: 700;
    font-family: 'Montserrat';
}

input[type="password"] {
    color: var(--white);
    font-weight: 700;
    font-family: 'Montserrat';
}

.botao {
    margin-top: 0.5em;
    background-color: var(--blue);
    font-weight: 700;
    color: var(--w);
    border-radius: 1vh;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.botao:hover {
    background-color: var(--medium_blue);
    color: var(--white);
}

.botao:active {
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {


    header {
        max-width: fit-content;
        text-align: center;
    }

    header img {
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(bg_car.png);
        overflow-x: hidden;
    }

    body h1 {
        text-align: center;
        font-size: 20px;
    }

    .aup {
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        max-width: fit-content;
        width: 45vh;
    }

    .container {
        text-align: center;
    }

    .container_login {
        text-align: center;
    }

}

